@using Puzzles.Bl.Extensions
@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@model PalindromeCheckerModel

@{
    var guid = Guid.NewGuid();
    var containerid = $"divcontainer";
    var resultdivid = $"divresults-{guid}";
}

<div id="@containerid">

    @if (Model.Saved)
    {
        var style = Model.PalindromeFound ? $"color:green; " : $"color:red;";

        <br />
        <div id="@resultdivid">
            <h5 style="@style">@Model.ReturnMessage</h5>
        </div>
    }


    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <form asp-controller="PalindromeChecker"
          asp-action="SubmitPalindromeCheck"
          method="POST"
          class="form-horizontal"
          role="form"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-mode="replace"
          data-ajax-update="#@containerid">


        <div class="form-group">

            <label asp-for="NumberToCheck"></label>
            <input type="number"
                   asp-for="NumberToCheck"                
                   max="1000000000"
                   min="-1000000000"
                   class="form-control"
                   placeholder="Enter Any Number...">


            <input type="hidden" asp-for="PreviousGuesses" value="@Model.PreviousGuesses">

        </div>



        <button type="submit" class="btn btn-primary">Submit</button>



    </form>



    <br />
    <div>
        @if (!Model.PreviousGuesses.IsNullOrWhiteSpace())
        {
            <div>
                <span>Previous Guesses:</span> <br>

                <span>@Model.PreviousGuesses</span>
            </div>
        }
    </div>


</div>