@using Puzzles.Bl.Enumerations
@using Puzzles.Bl.NumberToString.Models
@using Puzzles.Bl.PalindromeChecker.Models
@using Puzzles.Bl.PokerHandEvaluator.Models
@using Puzzles.Bl.Extensions
@model PokerPlayerModel

@{
    var guid = Guid.NewGuid();
    var containerid = $"divcontainer-{guid}";

}


<div id="@containerid">
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">@Model.PlayerName</h5>
            @foreach (var c in Model.PokerHand.Cards)
            {
                var label = $"{c.CardValue}";
                var prettylabel = $"{CardSuitExtensions.PrettyDisplayname(c.CardSuit)}";
                var colorstyle = c.CardSuit == CardSuits.Hearts || c.CardSuit == CardSuits.Diamonds ? "color: red" : "color: black";


                <p class="card-text"
               style="@colorstyle">
                    @label @Html.Raw(prettylabel)
                </p>

            }
            <hr />

            <b>@Model.PokerHand.HandType.GetDisplayName()</b>

        </div>
    </div>

</div>

